.bg_petrol {
    background-color: #102F45;
}

main {
    width: 60%;
    margin: auto;
}

.post {
    width: 60%;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    padding: 1rem;
    margin-bottom: 2rem;
}

.user {
    display: flex;
}

.userImg>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 2rem;
}

.postImg>img {
    width: 100%
}

.postSocial {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;
}